/App/Ext/*
!/App/Ext/Opoink/Bmodule
/App/Theme/*/
/App/node/node_modules/*/
/App/node/src/var/*
/Var/*/
/etc/*
!/etc/.htaccess
/public/*
/public/deploy*
/public/generation.php
/vendor
/composer.phar
/composer.lock
