/App/Ext/*/
/App/Theme/*/
/App/node/node_modules/*/
/App/node/src/vue.components.ts
/App/node/src/vue.components.json
/App/node/src/components.injection.ts
/Var/*/
/etc/*
!/etc/.htaccess
/public/*
/public/deploy*
/public/generation.php
/vendor
/composer.phar
/composer.lock
