@media (min-width: 992px) {
	.admin {
		.side_menu {
			.menu-header-label {
				.close {
					display: none !important;
				}
			}
		}

		&.side-nav-fixed {
			.container_wrapper {
				width: calc(100% - 300px);
				margin-left: 300px;
			}
		}
	}
}