@media (min-width: 576px) {
	.main-login {
		.main_container {
			.login-box {
				padding: 3rem;
			}
		}
	}

	.general_notification_container {
		.general_notification {
			list-style: none;
			padding: 0px 15px 15px 15px;
			width: 500px;
		}
	}
	
}